@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset opcional */
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 17px;
}

body {
  background-color: theme('colors.background');
  h1 {
    font-family: var(--font-title);
  }
}

.nav-link {
  @apply text-gray-700 hover:text-blue-600 font-medium transition;
}

/*
<h1 className="font-title text-4xl">
<h2 className="font-title text-3xl">
<h3 className="font-title text-2xl">
<p className="text-lg">
*/